<div class="flex flex-col gap-5 items-center justify-center pt-10">
  <div
    class="w-[180px] sm:w-[220px] flex flex-col items-center justify-center gap-2"
    *ngIf="{ entryDates: entryDates$ | async } as selectData"
  >
    <mfloww-date-selector
      *ngIf="selectData.entryDates?.length"
      [dates]="selectData.entryDates"
      [latestCreatedDate]="_latestCreatedEntryDate"
      (changed)="handleDateSelection($event)"
    />
    <div class="flex gap-2">
      <mfloww-view-month-year-picker (selection)="handleEntryCreation($event)">
        <button
          mflowwMonthYearPickerTriggerer
          class="w-[50px] flex justify-center items-center rounded border-solid border-2 border-mfloww_fg hover:bg-mfloww_fg"
        >
          <mfloww-view-icon
            class="w-[24px] h-[24px]"
            type="plus"
          ></mfloww-view-icon>
        </button>
      </mfloww-view-month-year-picker>
      <button
        class="w-[50px] flex justify-center items-center rounded border-solid border-2 border-mfloww_fg hover:bg-mfloww_fg"
        *ngIf="selectData.entryDates?.length"
        (click)="handleDeleteCurrentEntry()"
      >
        <mfloww-view-icon
          class="w-[24px] h-[24px]"
          type="close"
        ></mfloww-view-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="selectedDate && (hasEntry$ | async)">
    <mfloww-overall
      [overallTotal]="(overallTotal$ | async) || 0"
      [currency]="baseCurrency"
    ></mfloww-overall>
    <div
      class="balance-section lg:pb-32 flex flex-wrap justify-center gap-8 md:gap-0 w-full order-1 sm:order-3"
    >
      <ng-container
        *ngIf="{
          revenues: (revenues$ | async) || [],
          totalRevenue: (totalRevenue$ | async) || 0,
          expenses: (expenses$ | async) || [],
          totalExpense: (totalExpense$ | async) || 0,
          overallTotal: (overallTotal$ | async) || 0,
          percentageMap: (entryPercentageMap$ | async) || {}
        } as tableData"
      >
        <mfloww-money-table
          type="revenue"
          class="w-full md:w-1/2 order-2 sm:order-1"
          [entries]="tableData.revenues"
          [total]="tableData.totalRevenue"
          [sizePercentageMap]="tableData.percentageMap"
          [baseCurrency]="baseCurrency"
          (entryCreation)="handleRecordCreation($event)"
          (entryDeletion)="handleRecordDeletion($event)"
        ></mfloww-money-table>
        <mfloww-money-table
          type="expense"
          class="w-full md:w-1/2 order-3 sm:order-2"
          [entries]="tableData.expenses"
          [total]="tableData.totalExpense"
          [sizePercentageMap]="tableData.percentageMap"
          [baseCurrency]="baseCurrency"
          (entryCreation)="handleRecordCreation($event, 'expense')"
          (entryDeletion)="handleRecordDeletion($event, 'expense')"
        ></mfloww-money-table>
      </ng-container>
    </div>
  </ng-container>
  <mfloww-exchange-rates
    class="lg:px-28 md:px-18 px-6 py-12 sm:py-0 order-3"
    [exchangeRate]="exchangeRate$ | async"
  ></mfloww-exchange-rates>
</div>
