<button
  *ngIf="_displayedRate$ && _displayedRate$ | async as rate"
  class="text-sm text-center"
  (click)="handleClick()"
  (mouseenter)="_hovered = true"
  (mouseleave)="_hovered = false"
>
  <p>
    <span class="text-gray-400">{{
      1.0 | currency : exchangeRate?.base : 'symbol' : '1.2-4'
    }}</span>
    =
    <span class="text-mfloww_success">{{
      rate[1] | currency : rate[0] : 'symbol' : '1.2-4'
    }}</span>
  </p>
  <p class="text-[10px]">
    <span class="text-gray-400">{{
      1.0 | currency : rate[0] : 'symbol' : '1.2-4'
    }}</span>
    =
    <span class="text-mfloww_success">{{
      1.0 / rate[1] | currency : exchangeRate?.base : 'symbol' : '1.2-4'
    }}</span>
  </p>
  <p class="text-[10px] text-gray-600">
    {{ 'Balance.ExchangeRateWarn' | transloco }}
  </p>
</button>
