<div
  class="relative w-full flex justify-around gap-3 text-lg md:text-xl lg:text-2xl"
  (mouseenter)="_hovered = true"
  (mouseleave)="_hovered = false"
>
  <span class="whitespace-nowrap flex items-center">
    {{ amount | currency : currency }}
  </span>
  <span
    class="text-ellipsis overflow-hidden whitespace-nowrap md:max-w-[40%]"
    [title]="label"
  >
    {{ label }}
  </span>
  <ng-container *ngIf="deletable">
    <mfloww-view-button
      class="absolute flex md:hidden flex-grow-0 w-[40px] h-[40px] m-auto right-0 top-0 bottom-0 p-[5px]"
      (clicked)="deletionTriggered.emit()"
      [style.display]="_hovered ? 'flex' : 'none'"
    >
      <mfloww-view-icon
        type="close"
        color="var(--app-white)"
      ></mfloww-view-icon>
    </mfloww-view-button>
  </ng-container>
</div>
