<div
  class="w-full h-full lg:px-28 md:px-18 px-6 pb-24 flex flex-col gap-[75px] md:gap-[150px]"
>
  <main class="flex flex-col items-center justify-start flex-grow gap-11">
    <div class="flex flex-col gap-4 items-center text-center">
      <h1 class="text-4xl md:text-5xl text-mfloww_success">Log in</h1>
      <p>
        Don't have an account?
        <a [routerLink]="'/user/sign-up'" class="text-mfloww_blue">Sign up</a>
      </p>
    </div>
    <div class="flex flex-col items-center gap-8">
      <input
        type="email"
        placeholder="E-mail"
        class="bg-mfloww_bg xs:w-[450px] border-solid border-2 rounded border-mfloww_success px-3 py-2 outline-none focus:border-mfloww_blue"
      />
      <input
        type="password"
        placeholder="Password"
        class="bg-mfloww_bg xs:w-[450px] border-solid border-2 rounded border-mfloww_success px-3 py-2 outline-none focus:border-mfloww_blue"
      />
    </div>
    <button
      class="border-solid border-2 rounded border-mfloww_success px-10 py-2 hover:bg-mfloww_success hover:text-mfloww_bg"
    >
      Log in
    </button>
  </main>
</div>
