<div
  class="lg:px-28 md:px-28 px-6 md:pt-10 pb-24 flex flex-col gap-[75px] md:gap-[150px] overflow-hidden"
>
  <main
    class="flex flex-wrap items-center justify-center gap-5 lg:gap-0"
    mflowwFade="out"
    [mflowwFadeDelay]="200"
  >
    <h1
      class="order-2 w-full lg:order-1 lg:w-2/4 text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-mfloww_success text-center lg:text-left"
      [innerHTML]="'Landing.HeroText' | translate"
    ></h1>
    <mfloww-landing-image class="order-1 lg:order-2 w-[70%] lg:w-2/4">
    </mfloww-landing-image>
  </main>
</div>
<div
  class="bg-mfloww_bg w-full mt-12 lg:px-28 md:px-28 px-6"
  mflowwFade="out"
  [mflowwFadeDelay]="500"
>
  <div class="w-full flex justify-center flex-wrap gap-4">
    <div
      *ngFor="let i of [1, 2, 3, 4]"
      class="block basis-full md:basis-[48%] p-4 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700"
    >
      <h1 class="text-mfloww_success text-lg">
        {{ 'Landing.InfluenceHeader' + i | translate }}
      </h1>
      <p class="text-sm text-gray-400">
        {{ 'Landing.InfluenceDesc' + i | translate }}
      </p>
    </div>
  </div>
  <div
    class="flex flex-col gap-16 justify-center items-center px-6 py-10 md:py-16 md:px-28 min-h-[400px] w-full"
    mflowwFade="in"
  >
    <h1 class="text-xl xs:text-3xl text-center">
      {{ 'Landing.StartUsingNow' | translate }}
    </h1>
    <a
      class="px-5 py-2 border-2 border-solid rounded text-mfloww_white hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer"
      routerLink="/user/sign-up"
    >
      {{ 'Common.SignUp' | translate }}
    </a>
  </div>
</div>
<mfloww-footer
  [initialLanguage]="_initialLanguage"
  (languageChanged)="handleLanguageChange($event)"
></mfloww-footer>
