<div
  class="w-full h-full lg:px-28 md:px-18 px-6 py-10 flex flex-col gap-[75px] md:gap-[150px]"
>
  <main class="flex flex-col items-center justify-start flex-grow gap-[1.5rem]">
    <div class="flex flex-col gap-4 items-center text-center">
      <h1 class="text-3xl md:text-5xl text-mfloww_success">
        {{ 'Common.SignUp' | translate }}
      </h1>
      <p class="text-xs md:text-sm">
        {{ 'SignUp.HaveAccountQuestion' | translate }}
        <a
          [routerLink]="'/user/sign-in'"
          class="text-mfloww_blue whitespace-nowrap"
          >{{ 'Common.SignIn' | translate }}</a
        >
      </p>
    </div>
    <div class="providers">
      <ng-container *ngFor="let platform of platforms">
        <mfloww-platform-button [platfrom]="platform"></mfloww-platform-button>
      </ng-container>
    </div>
    <span class="text-sm">{{ 'Common.Or' | translate }}</span>
    <form
      class="flex flex-col items-center gap-4 w-full max-w-[450px]"
      [formGroup]="signUpForm"
      (ngSubmit)="submitForm()"
    >
      <mfloww-view-input
        type="text"
        [placeholder]="'Common.Username' | translate"
        formControlName="username"
        autocomplete="username"
        name="Username"
      ></mfloww-view-input>
      <mfloww-view-input
        type="email"
        [placeholder]="'Common.Email' | translate"
        formControlName="email"
        autocomplete="email"
        name="Email"
      ></mfloww-view-input>
      <mfloww-view-input
        type="password"
        [placeholder]="'Common.Password' | translate"
        formControlName="password"
        name="Password"
        autocomplete="new-password"
      ></mfloww-view-input>
      <button
        class="border-solid border-2 rounded border-mfloww_white px-10 py-2 hover:bg-mfloww_white hover:text-mfloww_bg"
        type="submit"
      >
        {{ 'Common.SignUp' | translate }}
      </button>
    </form>
  </main>
</div>
