<div
  class="w-full h-full lg:px-28 md:px-18 px-6 pb-24 flex flex-col gap-[75px] md:gap-[150px]"
>
  <main class="flex flex-col items-center justify-start flex-grow gap-11">
    <div class="flex flex-col gap-4 items-center text-center">
      <h1 class="text-4xl md:text-5xl text-mfloww_success">Sign up</h1>
      <p>
        Alredy have an account?
        <a [routerLink]="'/user/log-in'" class="text-mfloww_blue">Log in</a>
      </p>
    </div>
    <form
      class="flex flex-col items-center gap-9 xs:gap-8"
      [formGroup]="signUpForm"
    >
      <mfloww-view-input
        type="text"
        placeholder="Username"
        formControlName="username"
        name="Username"
      ></mfloww-view-input>
      <mfloww-view-input
        type="email"
        placeholder="E-mail"
        formControlName="email"
        name="E-mail"
      ></mfloww-view-input>
      <mfloww-view-input
        type="password"
        placeholder="Password"
        formControlName="password"
        name="Password"
      ></mfloww-view-input>
    </form>
    <button
      class="border-solid border-2 rounded border-mfloww_white px-10 py-2 hover:bg-mfloww_white hover:text-mfloww_bg"
      (click)="submitForm()"
    >
      Sign up
    </button>
  </main>
</div>
