<footer
  class="grid grid-cols-2 md:grid-cols-6 gap-6 px-6 md:px-18 lg:px-28 pt-10 pb-10 bg-gradient-to-b from-mfloww_bg-300 to-mfloww_bg"
>
  <div class="col-span-2 flex flex-col gap-1">
    <mfloww-banner size="bigger" [useAsLink]="false"></mfloww-banner>
    <p class="text-xs text-gray-400">{{ 'Footer.Copyright' | translate }}</p>
    <div class="flex gap-2 pt-2 pb-10">
      <a
        href="https://twitter.com/mflowwcom"
        target="_blank"
        rel="noreferrer"
        class="text-gray-300 hover:text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <title>{{ 'Footer.TwitterIconTitle' | translate }}</title>
          <path
            d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
          ></path></svg
      ></a>
      <a
        href="https://github.com/besimgurbuz/mfloww"
        target="_blank"
        rel="noreferrer"
        class="text-gray-300 hover:text-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <title>{{ 'Footer.GithubIconTitle' | translate }}</title>
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="col-span-1 flex flex-col gap-2">
    <h3>{{ 'Footer.About' | translate }}</h3>
    <a routerLink="/team" class="text-gray-300 hover:text-white text-xs">{{
      'Footer.Team' | translate
    }}</a>
    <a routerLink="/faq" class="text-gray-300 hover:text-white text-xs">{{
      'Footer.FAQ' | translate
    }}</a>
    <a routerLink="/changelog" class="text-gray-300 hover:text-white text-xs">{{
      'Footer.Changelog' | translate
    }}</a>
  </div>
  <div class="col-span-1 flex flex-col gap-2">
    <h3>{{ 'Footer.Developers' | translate }}</h3>
    <a
      href="https://github.com/besimgurbuz/mfloww/blob/main/README.md"
      target="_blank"
      rel="noreferrer"
      class="text-gray-300 hover:text-white text-xs"
      >{{ 'Footer.Documentation' | translate }}</a
    >
    <a
      href="https://github.com/besimgurbuz/mfloww/blob/main/CONTRIBUTION.md"
      target="_blank"
      rel="noreferrer"
      class="text-gray-300 hover:text-white text-xs"
      >{{ 'Footer.Contribute' | translate }}</a
    >
  </div>
  <div class="col-span-2 flex justify-end">
    <mfloww-language-selector
      [initialLanguage]="_initialLanguage"
      (selection)="languageChanged.emit($event)"
    ></mfloww-language-selector>
  </div>
</footer>
