<nav
  class="fixed top-0 w-full transition-[background-color] flex items-center justify-between lg:px-28 md:px-18 px-6 py-3 text-sm bg-gradient-to-b from-mfloww_bg-300 to-mfloww_bg"
  mflowwFade="in"
  [ngClass]="{
    'backdrop-blur border-b-[1px] border-b-gray-700': _scrollY > 20
  }"
>
  <mfloww-banner size="bigger"></mfloww-banner>
  <ng-container *ngIf="!profileInfo; else avatar">
    <div class="flex items-center gap-1">
      <div class="hidden items-center text-mfloww_success md:flex gap-2">
        <a
          routerLink="/user/sign-in"
          class="p-2 hover:opacity-70 hover:cursor-pointer text-mfloww_white"
          >{{ 'Common.SignIn' | translate }}</a
        >
        <a
          routerLink="/user/sign-up"
          class="p-2 text-mfloww_white rounded hover:opacity-70 hover:cursor-pointer"
        >
          {{ 'Common.SignUp' | translate }}
        </a>
        <a
          class="w-6 text-mfloww_white rounded hover:opacity-70 hover:cursor-pointer"
          href="https://github.com/besimgurbuz/mfloww"
          target="_blank"
          rel="noreferrer"
        >
          <mfloww-view-icon type="github"></mfloww-view-icon>
        </a>
      </div>
      <mfloww-view-overlay-panel class="md:hidden self-center" #overlayPanel>
        <button
          class="self-center w-[30px] p-[2px] focus:p-0 focus:border-solid focus:border-mfloww_blue focus:border-2 focus:rounded"
          mflowwOverlayTriggerer
        >
          <mfloww-view-icon type="menu" class="w-7"></mfloww-view-icon>
        </button>
        <div mflowwPanelContent>
          <a
            class="px-6 py-3 text-sm whitespace-nowrap w-full text-center"
            routerLink="/user/sign-in"
            (click)="overlayPanel._opened = false"
            >{{ 'Common.SignIn' | translate }}</a
          >
          <a
            class="px-6 py-3 text-sm whitespace-nowrap w-full text-center"
            routerLink="/user/sign-up"
            (click)="overlayPanel._opened = false"
            >{{ 'Common.SignUp' | translate }}</a
          >
        </div>
      </mfloww-view-overlay-panel>
    </div>
  </ng-container>
  <ng-template #avatar>
    <div class="flex items-center gap-3">
      <mfloww-view-overlay-panel #overlayPanel>
        <button
          mflowwOverlayTriggerer
          class="truncate md:max-w-[300px] max-w-[150px] text-xs border-solid border-2 p-2 rounded border-mfloww_fg hover:bg-mfloww_fg"
        >
          {{ profileInfo?.username }}
        </button>
        <div mflowwPanelContent class="flex flex-col">
          <a
            class="w-full text-center p-4 text-sm min-w-[120px]"
            routerLink="/user/settings"
            (click)="overlayPanel._opened = false"
            >{{ 'Common.Settings' | translate }}</a
          >
          <button
            class="w-full text-center p-4 text-sm min-w-[120px]"
            (click)="logOutTriggered.emit(); overlayPanel._opened = false"
          >
            {{ 'Menu.LogOut' | translate }}
          </button>
        </div>
      </mfloww-view-overlay-panel>
    </div>
  </ng-template>
</nav>
