<div id="app-container" class="flex flex-col gap-8 w-full h-full">
  <mfloww-view-progress-bar
    *ngIf="inProgress$ | async"
    class="absolute left-0 right-0 top-0"
  ></mfloww-view-progress-bar>
  <mfloww-menu
    [profileInfo]="_profileInfo$ | async"
    (logOutTriggered)="handleLogOut()"
  ></mfloww-menu>
  <router-outlet></router-outlet>
  <ng-container *ngIf="errorMessage$ | async as errorMessage">
    <div
      *ngIf="errorMessage.text"
      class="fixed bottom-2 md:bottom-10 mx-auto left-0 right-0 min-w-[200px] max-w-[400px] md:max-w-[600px] px-5 py-3 text-xs rounded"
      [ngClass]="{
        'bg-mfloww_warn': errorMessage?.type === 'warn',
        'bg-mfloww_fatal': errorMessage?.type === 'fatal',
        'bg-mfloww_success': errorMessage?.type === 'info'
      }"
      #messageBox
    >
      <div class="flex justify-between">
        <p>{{ errorMessage?.text }}</p>
        <button
          class="text-mfloww_fg"
          (click)="messageBox.style.visibility = 'hidden'"
        >
          Close
        </button>
      </div>
    </div>
  </ng-container>
</div>
