<div id="app-container" class="flex flex-col gap-8 md:gap-10 w-full h-full">
  <mfloww-view-progress-bar
    *ngIf="inProgress$ | async"
    class="absolute left-0 right-0 top-0"
  ></mfloww-view-progress-bar>
  <header
    class="flex items-center justify-between lg:px-28 md:px-18 px-6 pt-10"
  >
    <mfloww-banner size="bigger"></mfloww-banner>
    <div class="hidden items-center gap-3 text-mfloww_success md:flex">
      <a
        routerLink="/user/log-in"
        class="px-5 py-2 hover:opacity-70 hover:cursor-pointer text-mfloww_white"
        >Log in</a
      >
      <a
        routerLink="/user/sign-up"
        class="px-5 py-2 border-2 border-solid border-mfloww_white text-mfloww_white rounded hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer"
      >
        Sign up
      </a>
    </div>
    <mfloww-menu class="flex md:hidden self-center"></mfloww-menu>
  </header>
  <router-outlet></router-outlet>
  <div
    *ngIf="errorMessage$ | async as errorMessage"
    class="absolute bottom-2 md:bottom-10 mx-auto left-0 right-0 min-w-[200px] max-w-[500px] px-5 py-2 text-xs border-solid border-2 rounded"
    [ngClass]="{
      'text-mfloww_warn': errorMessage.type === 'warn',
      'text-mfloww_fatal': errorMessage.type === 'fatal'
    }"
    #messageBox
  >
    <div class="flex justify-between">
      {{ errorMessage.message }}
      <button
        class="text-mfloww_white opacity-60"
        (click)="messageBox.style.visibility = 'hidden'"
      >
        Close
      </button>
    </div>
  </div>
</div>
