<div class="relative flex items-center justify-center w-fit h-fit">
  <mfloww-view-icon
    class="absolute -left-2 bottom-0 positive-currency-min35"
    type="franc"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute -left-10 bottom-40 negative-currency-min30"
    type="ruble"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute -left-3 top-12 positive-currency-min25"
    type="lira"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute left-[130px] -top-10 negative-currency-min12"
    type="pound"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute m-auto left-20 right-0 -top-5 positive-currency-12"
    type="dolar"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute right-0 top-5 negative-currency-25"
    type="euro"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute -right-20 bottom-30 positive-currency-30"
    type="rupee"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute bottom-0 -right-10 negative-currency-35"
    type="yuan"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <img src="assets/landing-content.png" alt="Landing image" />
</div>
