<div class="relative flex items-center justify-center w-fit h-fit">
  <ng-container *ngIf="_imageLoaded">
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] -left-5 bottom-0 positive-currency-min35"
      type="franc"
      color="var(--app-success)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] -left-8 top-25 negative-currency-min30"
      type="ruble"
      color="var(--app-fatal)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] -left-4 top-2 positive-currency-min25"
      type="lira"
      color="var(--app-success)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] m-auto left-0 right-28 -top-10 negative-currency-min12"
      type="pound"
      color="var(--app-fatal)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] m-auto left-10 xs:left-[130px] right-0 -top-5 positive-currency-12"
      type="dolar"
      color="var(--app-success)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] -right-2 top-0 negative-currency-25"
      type="euro"
      color="var(--app-fatal)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] -right-10 bottom-30 positive-currency-30"
      type="rupee"
      color="var(--app-success)"
    ></mfloww-view-icon>
    <mfloww-view-icon
      class="absolute w-[45px] h-[45px] bottom-0 -right-8 negative-currency-35"
      type="yuan"
      color="var(--app-fatal)"
    ></mfloww-view-icon>
  </ng-container>
  <img
    #landing_image
    class="z-10"
    src="assets/landing-content.png"
    alt="Landing image"
    (load)="onLoaded()"
  />
</div>
