<div class="relative flex items-center justify-center w-fit h-fit">
  <mfloww-view-icon
    class="absolute -rotate-[35deg] -left-2 bottom-0"
    type="franc"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute -rotate-[30deg] -left-10 bottom-40"
    type="ruble"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute -rotate-[25deg] -left-3 top-12"
    type="lira"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute -rotate-[12.5deg] left-[130px] -top-10"
    type="pound"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute"
    type="dolar"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute"
    type="euro"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute"
    type="rupee"
    color="var(--app-success)"
    [size]="45"
  ></mfloww-view-icon>
  <mfloww-view-icon
    class="absolute"
    type="yuan"
    color="var(--app-warn)"
    [size]="45"
  ></mfloww-view-icon>
  <img src="assets/landing-content.png" alt="Landing image" />
</div>
