<div
  class="flex flex-col w-full h-full items-center gap-10 lg:px-40 md:px-18 px-6 pb-24"
>
  <h1 class="text-2xl sm:text-4xl text-mfloww_success">
    {{ 'Common.Settings' | translate }}
  </h1>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">{{ 'Settings.Profile' | translate }}</h3>
      <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
        {{ 'Settings.ProfileDesc' | translate }}
      </p>
    </div>
    <form
      [formGroup]="profileGroup"
      class="flex flex-col gap-6 relative flex-grow max-w-[450px]"
      (ngSubmit)="updateProfile()"
    >
      <mfloww-view-input
        formControlName="email"
        [placeholder]="'Common.Email' | translate"
        [label]="'Common.Email' | translate"
        type="email"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="username"
        [placeholder]="'Common.Username' | translate"
        [label]="'Common.Username' | translate"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="key"
        [placeholder]="'Settings.EncryptionKey' | translate"
        [label]="'Settings.EncryptionKey' | translate"
        [copyable]="true"
      ></mfloww-view-input>
      <button
        class="border-2 border-solid rounded px-5 py-2 hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer w-fit text-sm"
        [style.visibility]="
          profileGroup.touched && profileGroup.valid && isFormValueDifferent()
            ? 'visible'
            : 'hidden'
        "
        type="submit"
      >
        {{ 'Settings.Save' | translate }}
      </button>
    </form>
  </div>
  <div
    class="flex flex-wrap gap-4 w-full items-center md:justify-around"
    *ngIf="!_profileInfo?.platform"
  >
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">{{ 'Common.Password' | translate }}</h3>
      <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
        {{ 'Settings.PasswordDesc' | translate }}
      </p>
    </div>
    <form
      [formGroup]="passwordGroup"
      class="flex flex-col gap-6 flex-grow max-w-[450px] relative"
      (ngSubmit)="updatePassword()"
    >
      <mfloww-view-input
        formControlName="currentPassword"
        [placeholder]="'Settings.CurrentPassword' | translate"
        [label]="'Settings.CurrentPassword' | translate"
        type="password"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="newPassword"
        [placeholder]="'Settings.NewPassword' | translate"
        [label]="'Settings.NewPassword' | translate"
        type="password"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="confirmNewPassword"
        [placeholder]="'Settings.ConfirmPassword' | translate"
        [label]="'Settings.ConfirmPassword' | translate"
        type="password"
      ></mfloww-view-input>
      <ng-container
        *ngIf="passwordGroup.errors?.['mismatch'] && passwordGroup.get('newPassword')?.dirty && passwordGroup.get('confirmNewPassword')?.dirty"
      >
        <p class="absolute text-mfloww_fatal text-[10px] bottom-[30px]">
          {{ 'Settings.PasswordsShouldMatch' | translate }}
        </p>
      </ng-container>
      <button
        class="border-2 border-solid rounded px-5 py-2 hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer w-fit text-sm"
        [style.visibility]="
          passwordGroup.touched && passwordGroup.valid ? 'visible' : 'hidden'
        "
        type="submit"
      >
        {{ 'Settings.Save' | translate }}
      </button>
    </form>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">
        {{ 'Settings.ChangeLanguage' | translate }}
      </h3>
      <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
        {{ 'Settings.ChangeLanguageDesc' | translate }}
      </p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <mfloww-language-selector
        [initialLanguage]="_initialLanguage"
        [extendClassList]="['border-2', 'border-mfloww_fg']"
        (selection)="handleLanguageChange($event)"
      ></mfloww-language-selector>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">
        {{ 'Settings.ChangeBaseCurrency' | translate }}
      </h3>
      <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
        {{ 'Settings.ChangeBaseCurrencyDesc' | translate }}
      </p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <select
        placeholder="Select base currency"
        class="bg-mfloww_bg border-2 border-solid border-mfloww_fg rounded p-1"
        [formControl]="baseCurrencyControl"
      >
        <option
          *ngFor="let currency of currencyOptions | keyvalue"
          [value]="currency.key"
        >
          {{ currency.key }} {{ currency.value }}
        </option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">
        {{ 'Settings.DeleteLocalDB' | translate }}
      </h3>
      <p
        class="text-[10px] sm:text-xs opacity-50 font-roboto"
        [innerHTML]="'Settings.DeleteLocalDBDesc' | translate"
      ></p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <button
        class="border-2 border-solid border-mfloww_fatal text-mfloww_fatal rounded text-sm px-6 py-3 hover:bg-mfloww_fatal hover:text-mfloww_white"
        (click)="handleDeleteLocalDatabase()"
      >
        {{ 'Settings.DeleteLocalDB' | translate }}
      </button>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">
        {{ 'Settings.DeleteAccount' | translate }}
      </h3>
      <p
        class="text-[10px] sm:text-xs opacity-50 font-roboto"
        [innerHTML]="'Settings.DeleteAccountDesc' | translate"
      ></p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <button
        class="border-2 border-solid border-mfloww_fatal text-mfloww_fatal rounded text-sm px-6 py-3 hover:bg-mfloww_fatal hover:text-mfloww_white"
        (click)="handleDeleteUser()"
      >
        {{ 'Settings.DeleteAccount' | translate }}
      </button>
    </div>
  </div>
</div>
