<div
  class="flex flex-col w-full h-full items-center gap-10 lg:px-60 md:px-18 px-6 pb-10"
>
  <h1 class="text-2xl sm:text-4xl text-mfloww_success">Settings</h1>
  <div class="flex flex-wrap gap-4 w-full items-center justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">Profile</h3>
      <p class="text-[10px] sm:text-xs opacity-50">
        Your e-mail adress is your identity on mfloww and is used to log in.
      </p>
    </div>
    <form
      [formGroup]="profileGroup"
      class="flex flex-col gap-6 relative flex-grow max-w-[450px]"
    >
      <mfloww-view-input
        formControlName="email"
        placeholder="E-mail"
        label="E-mail"
        type="email"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="username"
        placeholder="Username"
        label="Username"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="key"
        placeholder="Encryption Key"
        label="Encryption key"
        [copyable]="true"
      ></mfloww-view-input>
      <button
        class="border-2 border-solid rounded px-5 py-2 hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer w-fit text-sm"
        [style.visibility]="
          profileGroup.touched && profileGroup.valid && isFormValueDifferent()
            ? 'visible'
            : 'hidden'
        "
      >
        Save
      </button>
    </form>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">Password</h3>
      <p class="text-[10px] sm:text-xs opacity-50">
        Changing your password will also expires your session.
      </p>
    </div>
    <form
      [formGroup]="passwordGroup"
      class="flex flex-col gap-6 relative flex-grow max-w-[450px]"
    >
      <mfloww-view-input
        formControlName="currentPassword"
        placeholder="Current password"
        label="Current password"
        type="password"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="newPassword"
        placeholder="New password"
        label="New password"
        type="password"
      ></mfloww-view-input>
      <mfloww-view-input
        formControlName="confirmNewPassword"
        placeholder="Confirm new password"
        label="Confirm new password"
        type="password"
      ></mfloww-view-input>
      <button
        class="border-2 border-solid rounded px-5 py-2 hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer w-fit text-sm"
        [style.visibility]="
          passwordGroup.touched && passwordGroup.valid ? 'visible' : 'hidden'
        "
      >
        Save
      </button>
    </form>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">Delete local database</h3>
      <p class="text-[10px] sm:text-xs opacity-50">
        Data on this device will be deleted.
        <strong>Warning</strong> deletion is irreversible.
      </p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <button
        class="border-2 border-solid border-mfloww_fatal text-mfloww_fatal rounded text-sm px-6 py-3 hover:bg-mfloww_fatal hover:text-mfloww_white"
      >
        Delete local database
      </button>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">Delete account</h3>
      <p class="text-[10px] sm:text-xs opacity-50">
        Your account and data on this device will be deleted.
        <strong>Warning</strong> deletion is irreversible.
      </p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <button
        class="border-2 border-solid border-mfloww_fatal text-mfloww_fatal rounded text-sm px-6 py-3 hover:bg-mfloww_fatal hover:text-mfloww_white"
      >
        Delete this account
      </button>
    </div>
  </div>
</div>
