<div class="flex flex-col w-full h-full lg:px-28 md:px-18 px-6 pt-10">
  <div class="flex gap-3 w-3/4 md:1/2 justify-end items-center self-end">
    <select
      [formControl]="_chartTypeControl"
      class="bg-mfloww_bg border-2 border-solid border-mfloww_fg rounded p-1 text-sm w-1/2 md:w-1/5"
    >
      <option
        *ngFor="let chartType of _chartTypesMap | keyvalue"
        [value]="chartType.key"
      >
        {{ chartType.value }}
      </option>
    </select>
    <mfloww-view-overlay-panel class="flex h-full">
      <mfloww-view-button
        class="flex w-16 h-full text-white"
        showBorder="true"
        mflowwOverlayTriggerer
      >
        <mfloww-view-icon
          type="calendar"
          class="w-[24px] mfloww_fg"
        ></mfloww-view-icon>
      </mfloww-view-button>
      <div
        mflowwPanelContent
        class="px-4 py-2 flex gap-4 font-roboto"
        *ngIf="{ entryDates: _entryDates$ | async } as calendarData"
      >
        <button
          *ngFor="let entryDate of calendarData.entryDates"
          class="text-xs text-center rounded px-[6px] border-2 border-solid border-mfloww_fg hover:border-mfloww_blue-300"
          [ngClass]="{
            'bg-mfloww_fg-300 border-solid border-mfloww_blue-300 border-[2px] !px-[6px]':
              _selectedEntryDates().includes(entryDate)
          }"
          (click)="toggleSelectedDate(entryDate)"
        >
          {{ entryDate | entryDate | async }}
        </button>
      </div>
    </mfloww-view-overlay-panel>
  </div>
  <div class="w-full min-h-[400px]">
    <mfloww-chart [chartType]="_chartTypeControl.value"></mfloww-chart>
  </div>
</div>
