<div
  [ngClass]="{
    'text-mfloww_success': type === 'revenue',
    'text-mfloww_warn': type === 'expense'
  }"
  class="flex flex-col gap-6 w-full items-center"
>
  <h1 class="text-2xl lg:text-3xl w-fit">{{ title }}</h1>
  <div class="entries w-full flex flex-col gap-5">
    <mfloww-money-table-entry
      *ngFor="let entry of entries"
      [label]="entry.label"
      [type]="type"
      [amount]="entry.amount"
      [currency]="entry.currency"
    ></mfloww-money-table-entry>
    <button
      *ngIf="!_addingModeActive"
      class="self-center hover:opacity-80 p-[2px] active:p-0 focus:p-0 active:border-2 focus:border-2 active:border-solid focus:border-solid focus:border-mfloww_fg active:rounded-full focus:rounded-full"
      (click)="_addingModeActive = !_addingModeActive"
    >
      <mfloww-view-icon
        type="filled_plus"
        [color]="type === 'revenue' ? 'var(--app-success)' : 'var(--app-warn)'"
      ></mfloww-view-icon>
    </button>
    <div class="self-center max-w-[300px]" *ngIf="_addingModeActive">
      <mfloww-view-entry-input
        [currencies]="currencies"
        [autofocus]="true"
        [entryType]="type"
        (entryCreated)="handleNewEntry($event)"
      ></mfloww-view-entry-input>
    </div>
  </div>
  <div class="total w-full m-16">
    <mfloww-money-table-entry
      label="TOTAL"
      [type]="type"
      [amount]="total"
      [currency]="entries[0].currency"
    ></mfloww-money-table-entry>
  </div>
</div>
