<div
  [ngClass]="{
    'text-mfloww_success': type === 'revenue',
    'text-mfloww_fatal': type === 'expense'
  }"
  class="flex flex-col gap-6 w-full items-center"
>
  <h1 class="text-2xl lg:text-3xl w-fit">{{ title }}</h1>
  <div class="entries w-full flex flex-col gap-5">
    <mfloww-money-table-entry
      *ngFor="let entry of entries; let i = index"
      [label]="entry.label"
      [type]="type"
      [amount]="entry.amount"
      [currency]="entry.currency"
      [deletable]="true"
      (deletionTriggered)="handleDeletion(i)"
    ></mfloww-money-table-entry>
    <mfloww-view-button
      class="self-center"
      *ngIf="!_addingModeActive"
      (clicked)="_addingModeActive = !_addingModeActive"
      class="self-center"
    >
      <mfloww-view-icon
        type="plus"
        class="w-[25px]"
        [color]="type === 'revenue' ? 'var(--app-success)' : 'var(--app-fatal)'"
        [viewBox]="30"
      ></mfloww-view-icon>
    </mfloww-view-button>
    <div class="relative self-center max-w-[300px]" *ngIf="_addingModeActive">
      <mfloww-view-entry-input
        [currencies]="currencies"
        [autofocus]="true"
        [entryType]="type"
        (entryCreated)="handleNewEntry($event)"
      ></mfloww-view-entry-input>
      <mfloww-view-button
        class="absolute flex flex-grow-0 w-[40px] h-[40px] m-auto -right-10 top-0 bottom-0 p-[5px]"
        (clicked)="_addingModeActive = false"
      >
        <mfloww-view-icon
          type="close"
          color="var(--app-white)"
        ></mfloww-view-icon>
      </mfloww-view-button>
    </div>
  </div>
  <div class="total w-full m-16">
    <mfloww-money-table-entry
      label="TOTAL"
      [type]="type"
      [amount]="total"
    ></mfloww-money-table-entry>
  </div>
</div>
