<div
  class="flex flex-col w-full h-full items-center gap-10 pt-12 lg:pt-0 lg:px-40 md:px-18 px-6 pb-24"
  *transloco="let t"
>
  <h1 class="text-2xl sm:text-4xl text-mfloww_success">
    {{ t('Common.Settings') }}
  </h1>
  <div
    class="flex flex-wrap gap-4 w-full items-center justify-center md:justify-around"
  >
    <ng-container *ngIf="!_profileInfo?.isAnonymous; else linkAccount">
      <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
        <h3 class="text-sm sm:text-lg">{{ t('Settings.Profile') }}</h3>
        <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
          {{ t('Settings.ProfileDesc') }}
        </p>
      </div>
      <form
        class="flex flex-col gap-6 relative flex-grow max-w-[450px]"
        [formGroup]="profileGroup"
        (ngSubmit)="updateProfile()"
      >
        <mfloww-view-input
          formControlName="email"
          [placeholder]="t('FormFields.email')"
          [label]="t('FormFields.email')"
          type="email"
        ></mfloww-view-input>
        <mfloww-view-input
          formControlName="username"
          [placeholder]="t('FormFields.username')"
          [label]="t('FormFields.username')"
        ></mfloww-view-input>
        <mfloww-view-input
          formControlName="key"
          [placeholder]="t('Settings.EncryptionKey')"
          [label]="t('Settings.EncryptionKey')"
          [copyable]="true"
        ></mfloww-view-input>
        <button
          class="border-2 border-solid rounded px-5 py-2 hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer w-fit text-sm"
          [style.visibility]="
          profileGroup.touched && profileGroup.valid && profileGroup.value.username !== $any(_profileInfo)['username']
            ? 'visible'
            : 'hidden'
        "
          type="submit"
        >
          {{ t('Settings.Save') }}
        </button>
      </form>
    </ng-container>
    <ng-template #linkAccount>
      <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
        <h3 class="text-sm sm:text-lg">{{ t('Settings.ConsiderSignIn') }}</h3>
        <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
          {{ t('Settings.ConsiderSignInDesc') }}
        </p>
      </div>
      <div class="flex flex-col gap-6 relative flex-grow max-w-[450px]">
        <mfloww-platform-button
          *ngFor="let platform of _supportedPlatforms"
          [platform]="platform"
        ></mfloww-platform-button>
      </div>
    </ng-template>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">{{ t('Settings.ChangeLanguage')}}</h3>
      <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
        {{ t('Settings.ChangeLanguageDesc') }}
      </p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <mfloww-language-selector
        [initialLanguage]="_initialLanguage"
        [extendClassList]="['border-2', 'border-mfloww_fg']"
        (selection)="handleLanguageChange($event)"
      ></mfloww-language-selector>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">{{ t('Settings.ChangeBaseCurrency') }}</h3>
      <p class="text-[10px] sm:text-xs opacity-50 font-roboto">
        {{ t('Settings.ChangeBaseCurrencyDesc') }}
      </p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <select
        placeholder="Select base currency"
        class="bg-mfloww_bg border-2 border-solid border-mfloww_fg rounded p-1"
        [formControl]="baseCurrencyControl"
      >
        <option
          *ngFor="let currency of currencyOptions | keyvalue"
          [value]="currency.key"
        >
          {{ currency.key }} {{ currency.value }}
        </option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 w-full items-center md:justify-around">
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">{{ t('Settings.DeleteLocalDB') }}</h3>
      <p
        class="text-[10px] sm:text-xs opacity-50 font-roboto"
        [innerHTML]="t('Settings.DeleteLocalDBDesc')"
      ></p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <button
        class="border-2 border-solid border-mfloww_fatal text-mfloww_fatal rounded text-sm px-6 py-3 hover:bg-mfloww_fatal hover:text-mfloww_white"
        (click)="handleDeleteLocalDatabase()"
      >
        {{ t('Settings.DeleteLocalDB') }}
      </button>
    </div>
  </div>
  <div
    *ngIf="!_profileInfo?.isAnonymous"
    class="flex flex-wrap gap-4 w-full items-center md:justify-around"
  >
    <div class="flex flex-col gap-2 md:w-1/2 max-w-[450px] w-full">
      <h3 class="text-sm sm:text-lg">{{ t('Settings.DeleteAccount') }}</h3>
      <p
        class="text-[10px] sm:text-xs opacity-50 font-roboto"
        [innerHTML]="t('Settings.DeleteAccountDesc')"
      ></p>
    </div>
    <div class="flex flex-grow max-w-[450px]">
      <button
        class="border-2 border-solid border-mfloww_fatal text-mfloww_fatal rounded text-sm px-6 py-3 hover:bg-mfloww_fatal hover:text-mfloww_white"
        (click)="handleDeleteUser()"
      >
        {{ t('Settings.DeleteAccount') }}
      </button>
    </div>
  </div>
</div>
