<header
  class="flex items-center justify-between lg:px-28 md:px-18 px-6 pt-10"
  mflowwFade="in"
>
  <mfloww-banner size="bigger"></mfloww-banner>
  <ng-container *ngIf="!profileInfo; else avatar">
    <div class="hidden items-center gap-3 text-mfloww_success md:flex">
      <a
        routerLink="/user/log-in"
        class="px-5 py-2 hover:opacity-70 hover:cursor-pointer text-mfloww_white"
        >Log in</a
      >
      <a
        routerLink="/user/sign-up"
        class="px-5 py-2 border-2 border-solid border-mfloww_white text-mfloww_white rounded hover:bg-mfloww_white hover:text-mfloww_bg hover:cursor-pointer"
      >
        Sign up
      </a>
    </div>
    <mfloww-view-overlay-panel class="md:hidden self-center">
      <button
        class="self-center w-[30px] p-[2px] focus:p-0 focus:border-solid focus:border-mfloww_blue focus:border-2 focus:rounded"
        mflowwOverlayTriggerer
      >
        <mfloww-view-icon type="menu" class="w-7"></mfloww-view-icon>
      </button>
      <ng-container mflowwPanelContent>
        <a class="px-6 py-3 text-sm whitespace-nowrap" routerLink="/user/log-in"
          >Log in</a
        >
        <a
          class="px-6 py-3 text-sm whitespace-nowrap"
          routerLink="/user/sign-up"
          >Sign up</a
        >
      </ng-container>
    </mfloww-view-overlay-panel>
  </ng-container>
  <ng-template #avatar>
    <mfloww-view-overlay-panel>
      <button
        mflowwOverlayTriggerer
        class="overflow-hidden truncate md:max-w-[300px] max-w-[150px] text-xs border-solid border-2 p-2 rounded border-mfloww_fg hover:bg-mfloww_fg"
      >
        {{ profileInfo?.username }}
      </button>
      <ng-container mflowwPanelContent>
        <a class="w-full px-6 py-3 text-sm" routerLink="/user/settings"
          >Settings</a
        >
        <a class="w-full px-6 py-3 text-sm" (click)="logOutTriggered.emit()"
          >Log out</a
        >
      </ng-container>
    </mfloww-view-overlay-panel>
  </ng-template>
</header>
