<div class="flex flex-col gap-10 items-center justify-center">
  <mfloww-view-select
    placeholder="Select a month"
    (selection)="handleMonthSelection($any($event))"
  >
    <mfloww-view-option value="January 2022">January 2022</mfloww-view-option>
    <mfloww-view-option value="February 2022">February 2022</mfloww-view-option>
    <mfloww-view-option value="March 2022">March 2022</mfloww-view-option>
    <mfloww-view-option value="April 2022">April 2022</mfloww-view-option>
  </mfloww-view-select>

  <div class="revenue-expense-section flex flex-wrap justify-around w-full">
    <mfloww-money-table
      class="lg:w-2/5"
      [entries]="revenueEntries"
    ></mfloww-money-table>
    <mfloww-money-table
      type="expense"
      class="lg:w-2/5"
      [entries]="expenseEntries"
    ></mfloww-money-table>
  </div>
</div>
