<div class="flex flex-col gap-10 items-center justify-center">
  <div class="w-[180px] sm:w-[220px]">
    <mfloww-view-select
      placeholder="Select a month"
      [formControl]="dateControl"
    >
      <mfloww-view-option
        *ngFor="let entryDate of entryDates$ | async"
        [value]="entryDate"
        >{{ entryDate | entryDate }}</mfloww-view-option
      >
    </mfloww-view-select>
  </div>
  <div
    *ngIf="dateControl.value"
    class="revenue-expense-section pb-20 lg:pb-0 flex flex-wrap justify-center lg:justify-around w-full"
  >
    <mfloww-money-table
      class="lg:w-2/5"
      [entries]="(selectedRevenues$ | async) || []"
      [total]="0"
      (entryCreation)="handleEntryCreation($event)"
    ></mfloww-money-table>
    <mfloww-money-table
      type="expense"
      class="lg:w-2/5"
      [entries]="(selectedExpenses$ | async) || []"
      [total]="0"
      (entryCreation)="handleEntryCreation($event, 'expense')"
    ></mfloww-money-table>
    <mfloww-overall-panel [overallTotal]="0"></mfloww-overall-panel>
  </div>
</div>
