<div class="flex flex-col gap-10 items-center justify-center">
  <div
    class="w-[180px] sm:w-[220px] flex flex-col items-center justify-center gap-4"
  >
    <select
      placeholder="Select a month"
      class="bg-mfloww_bg border-2 border-solid border-mfloww_fg rounded p-1"
      [formControl]="monthSelectionControl"
    >
      <option value disabled selected>Select a date</option>
      <option *ngFor="let entryDate of entryDates$ | async" [value]="entryDate">
        {{ entryDate | entryDate | async }}
      </option>
    </select>
    <mfloww-view-month-year-picker
      [value]="$any(monthSelectionControl.value)"
      (selection)="handleEntryCreation($event)"
    >
      <button
        mflowwMonthYearPickerTriggerer
        class="w-[54px] h-[27px] flex justify-center items-center rounded border-solid border-2 border-mfloww_fg hover:bg-mfloww_fg"
      >
        <mfloww-view-icon
          class="w-[16px] h-[16px]"
          type="plus"
        ></mfloww-view-icon>
      </button>
    </mfloww-view-month-year-picker>
  </div>
  <div
    *ngIf="monthSelectionControl.value && (hasEntry$ | async)"
    class="revenue-expense-section pb-44 lg:pb-32 flex flex-wrap justify-center gap-8 md:gap-0 w-full"
  >
    <ng-container
      *ngIf="{
        revenues: (revenues$ | async) || [],
        totalRevenue: (totalRevenue$ | async) || 0,
        expenses: (expenses$ | async) || [],
        totalExpense: (totalExpense$ | async) || 0,
        overallTotal: (overallTotal$ | async) || 0,
        percentageMap: (entryPercentageMap$ | async) || {}
      } as tableData"
    >
      <mfloww-money-table
        type="revenue"
        class="w-full md:w-1/2"
        [entries]="tableData.revenues"
        [total]="tableData.totalRevenue"
        [sizePercentageMap]="tableData.percentageMap"
        [baseCurrency]="baseCurrency"
        (entryCreation)="handleRecordCreation($event)"
        (entryDeletion)="handleRecordDeletion($event)"
      ></mfloww-money-table>
      <mfloww-money-table
        type="expense"
        class="w-full md:w-1/2"
        [entries]="tableData.expenses"
        [total]="tableData.totalExpense"
        [sizePercentageMap]="tableData.percentageMap"
        [baseCurrency]="baseCurrency"
        (entryCreation)="handleRecordCreation($event, 'expense')"
        (entryDeletion)="handleRecordDeletion($event, 'expense')"
      ></mfloww-money-table>
      <mfloww-overall-panel
        [overallTotal]="(overallTotal$ | async) || 0"
        [currency]="baseCurrency"
      ></mfloww-overall-panel>
    </ng-container>
  </div>
</div>
