:host {
  display: block;
  width: 100%;
}

.mfloww-table-entry-container {
  .money-table-entry-delete-button {
    visibility: hidden;
  }

  &:hover .money-table-entry-delete-button {
    visibility: visible;
  }
}
